<a href="https://colab.research.google.com/github/mannar-1/mannar-1/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
s=pd.Series([1,2,3,4,5],dtype=float)
s

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [5]:
a=pd.Series(["hyd","tel","jfdkjh"],index=[1,2,3])
a

1       hyd
2       tel
3    jfdkjh
dtype: object

In [17]:
p=pd.DataFrame([3,4,5])
p
#first list data secound list index 3rd will be name of last column

p=pd.DataFrame([1,2,3,4],[5,6,7,8],['data'])
p

   data
5     1
6     2
7     3
8     4