<a href="https://colab.research.google.com/github/mannar-1/mannar-1/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
s=pd.Series([1,2,3,4,5],dtype=float)
s

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [ ]:
a=pd.Series(["hyd","tel","jfdkjh"],index=[1,2,3])
a

1       hyd
2       tel
3    jfdkjh
dtype: object

In [ ]:
p=pd.DataFrame([3,4,5])
p
#first list data secound list index 3rd will be name of last column

p=pd.DataFrame([1,2,3,4],[5,6,7,8],['data'])
p

   data
5     1
6     2
7     3
8     4

In [3]:
import pandas as pd
p=pd.DataFrame({'name':["hyd","tel","rjy"],"rates":[12,14,14]},[1,2,3])
p

  name  rates
1  hyd     12
2  tel     14
3  rjy     14

In [4]:
l=[99,996,675,457]
p=pd.DataFrame(l,[1,2,3,4],columns=['data'])    #first data secound index 3rd column name
p

   data
1    99
2   996
3   675
4   457

In [7]:
l=[[1,2,3],[4,5,6],[7,7,9]]
p=pd.DataFrame(l)
p

   0  1  2
0  1  2  3
1  4  5  6
2  7  7  9

In [15]:
l=[[1,2,3],[4,5,6],[7,7,9]]
p=pd.DataFrame(l,dtype=float,columns=["data1","data2","data3"])          #used all parameters
p

   data1  data2  data3
0    1.0    2.0    3.0
1    4.0    5.0    6.0
2    7.0    7.0    9.0

In [14]:
l1=pd.Series([56,36,453])
l2=pd.Series([345,345,234,2342])             #you get NAN if u use series
p=pd.DataFrame({"data1":l1,"data2":l2})
p

   data1  data2
0   56.0    345
1   36.0    345
2  453.0    234
3    NaN   2342

In [ ]:
/content/sample_data/california_housing_test.csv

In [17]:
p=pd.read_csv('/content/sample_data/california_housing_test.csv')
p

      longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]

In [18]:
p=pd.read_csv("/content/Toyota.csv - Toyota.csv.csv")
p

      Unnamed: 0  Price   Age     KM  ... Automatic    CC  Doors  Weight
0              0  13500  23.0  46986  ...         0  2000  three    1165
1              1  13750  23.0  72937  ...         0  2000      3    1165
2              2  13950  24.0  41711  ...         0  2000      3    1165
3              3  14950  26.0  48000  ...         0  2000      3    1165
4              4  13750  30.0  38500  ...         0  2000      3    1170
...          ...    ...   ...    ...  ...       ...   ...    ...     ...
1431        1431   7500   NaN  20544  ...         0  1300      3    1025
1432        1432  10845  72.0     ??  ...         0  1300      3    1015
1433        1433   8500   NaN  17016  ...         0  1300      3    1015
1434        1434   7250  70.0     ??  ...         0  1300      3    1015
1435        1435   6950  76.0      1  ...         0  1600      5    1114

[1436 rows x 11 columns]

In [24]:
p=pd.read_csv("/content/Toyota.csv - Toyota.csv.csv",header=None)
p
#header=1 0ne row is becoming as name for columns

          0      1    2      3   ...         7     8      9       10
0        NaN  Price  Age     KM  ...  Automatic    CC  Doors  Weight
1        0.0  13500   23  46986  ...          0  2000  three    1165
2        1.0  13750   23  72937  ...          0  2000      3    1165
3        2.0  13950   24  41711  ...          0  2000      3    1165
4        3.0  14950   26  48000  ...          0  2000      3    1165
...      ...    ...  ...    ...  ...        ...   ...    ...     ...
1432  1431.0   7500  NaN  20544  ...          0  1300      3    1025
1433  1432.0  10845   72     ??  ...          0  1300      3    1015
1434  1433.0   8500  NaN  17016  ...          0  1300      3    1015
1435  1434.0   7250   70     ??  ...          0  1300      3    1015
1436  1435.0   6950   76      1  ...          0  1600      5    1114

[1437 rows x 11 columns]

In [25]:
p=pd.read_csv("/content/Toyota.csv - Toyota.csv.csv",index_col=0)
p
#index_col=0 means  unnamed column we be taken as index

      Price   Age     KM FuelType  ... Automatic    CC  Doors  Weight
0     13500  23.0  46986   Diesel  ...         0  2000  three    1165
1     13750  23.0  72937   Diesel  ...         0  2000      3    1165
2     13950  24.0  41711   Diesel  ...         0  2000      3    1165
3     14950  26.0  48000   Diesel  ...         0  2000      3    1165
4     13750  30.0  38500   Diesel  ...         0  2000      3    1170
...     ...   ...    ...      ...  ...       ...   ...    ...     ...
1431   7500   NaN  20544   Petrol  ...         0  1300      3    1025
1432  10845  72.0     ??   Petrol  ...         0  1300      3    1015
1433   8500   NaN  17016   Petrol  ...         0  1300      3    1015
1434   7250  70.0     ??      NaN  ...         0  1300      3    1015
1435   6950  76.0      1   Petrol  ...         0  1600      5    1114

[1436 rows x 10 columns]

In [28]:
p.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435],
           dtype='int64', length=1436)

In [29]:
p.columns

Index(['Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor', 'Automatic', 'CC',
       'Doors', 'Weight'],
      dtype='object')

In [30]:
p['HP']

0        90
1        90
2        90
3        90
4        90
       ...
1431     86
1432     86
1433     86
1434     86
1435    110
Name: HP, Length: 1436, dtype: object

In [31]:
p['HP'].values
#gives array

array(['90', '90', '90', ..., '86', '86', '110'], dtype=object)

In [34]:
p[['HP','KM']].values

array([['90', '46986'],
       ['90', '72937'],
       ['90', '41711'],
       ...,
       ['86', '17016'],
       ['86', '??'],
       ['110', '1']], dtype=object)

In [35]:
p.head(5)

   Price   Age     KM FuelType  HP  MetColor  Automatic    CC  Doors  Weight
0  13500  23.0  46986   Diesel  90       1.0          0  2000  three    1165
1  13750  23.0  72937   Diesel  90       1.0          0  2000      3    1165
2  13950  24.0  41711   Diesel  90       NaN          0  2000      3    1165
3  14950  26.0  48000   Diesel  90       0.0          0  2000      3    1165
4  13750  30.0  38500   Diesel  90       0.0          0  2000      3    1170

In [36]:
p.tail()   #last 5

      Price   Age     KM FuelType   HP  MetColor  Automatic    CC Doors  Weight
1431   7500   NaN  20544   Petrol   86       1.0          0  1300     3    1025
1432  10845  72.0     ??   Petrol   86       0.0          0  1300     3    1015
1433   8500   NaN  17016   Petrol   86       0.0          0  1300     3    1015
1434   7250  70.0     ??      NaN   86       1.0          0  1300     3    1015
1435   6950  76.0      1   Petrol  110       0.0          0  1600     5    1114

In [8]:
import pandas as pd
p=pd.read_csv("/content/Toyota.csv - Toyota.csv.csv",index_col=0)

p.sample(5)     #for random records

      Price   Age     KM FuelType   HP  MetColor  Automatic    CC Doors  Weight
1405   7750  76.0  45410   Petrol   86       1.0          0  1300     5    1035
1199   9200  69.0  89096   Petrol  110       1.0          0  1600     5    1085
1391   8950  70.0  51874   Petrol   86       0.0          0  1300     4    1000
769    7950  68.0  78521   Petrol   86       0.0          0  1300     3    1015
87    17950  20.0  66966   Diesel   90       1.0          0  2000     3    1245

In [38]:
p.dtypes    #object-->string  why objects?

Price          int64
Age          float64
KM            object
FuelType      object
HP            object
MetColor     float64
Automatic      int64
CC             int64
Doors         object
Weight         int64
dtype: object

In [6]:
import pandas as pd
p=pd.read_csv("/content/Toyota.csv - Toyota.csv.csv",index_col=0)
p
print(p['Age'].min())
print(p['Age'].max())
print(p['Age']).sum()  #-->check this

1.0
80.0
0       23.0
1       23.0
2       24.0
3       26.0
4       30.0
        ...
1431     NaN
1432    72.0
1433     NaN
1434    70.0
1435    76.0
Name: Age, Length: 1436, dtype: float64

AttributeError: ignored

In [45]:

print(p['Age'].mean())
print(p['Age'].median())
print(p['Age'].std())
print(p['Age'].var())

55.67215568862275
60.0
18.589804386002132
345.5808271098241

In [47]:
import pandas as pd
p=pd.read_csv("/content/Toyota.csv - Toyota.csv.csv",index_col=0)
p
p['Price'].sort_values()   #ascending=False for decending

191      4350
1048     4400
393      4450
192      4750
402      5150
        ...
112     24950
115     24990
110     31000
111     31275
109     32500
Name: Price, Length: 1436, dtype: int64

In [4]:
import pandas as pd
p=pd.read_csv("/content/Toyota.csv - Toyota.csv.csv",index_col=0)
p

      Price   Age     KM FuelType  ... Automatic    CC  Doors  Weight
0     13500  23.0  46986   Diesel  ...         0  2000  three    1165
1     13750  23.0  72937   Diesel  ...         0  2000      3    1165
2     13950  24.0  41711   Diesel  ...         0  2000      3    1165
3     14950  26.0  48000   Diesel  ...         0  2000      3    1165
4     13750  30.0  38500   Diesel  ...         0  2000      3    1170
...     ...   ...    ...      ...  ...       ...   ...    ...     ...
1431   7500   NaN  20544   Petrol  ...         0  1300      3    1025
1432  10845  72.0     ??   Petrol  ...         0  1300      3    1015
1433   8500   NaN  17016   Petrol  ...         0  1300      3    1015
1434   7250  70.0     ??      NaN  ...         0  1300      3    1015
1435   6950  76.0      1   Petrol  ...         0  1600      5    1114

[1436 rows x 10 columns]

In [5]:
import pandas as pd
p=pd.read_csv("/content/Toyota.csv - Toyota.csv.csv",index_col=0)
#to insert
p.insert(5,'test',11)
p

      Price   Age     KM FuelType  ... Automatic    CC  Doors  Weight
0     13500  23.0  46986   Diesel  ...         0  2000  three    1165
1     13750  23.0  72937   Diesel  ...         0  2000      3    1165
2     13950  24.0  41711   Diesel  ...         0  2000      3    1165
3     14950  26.0  48000   Diesel  ...         0  2000      3    1165
4     13750  30.0  38500   Diesel  ...         0  2000      3    1170
...     ...   ...    ...      ...  ...       ...   ...    ...     ...
1431   7500   NaN  20544   Petrol  ...         0  1300      3    1025
1432  10845  72.0     ??   Petrol  ...         0  1300      3    1015
1433   8500   NaN  17016   Petrol  ...         0  1300      3    1015
1434   7250  70.0     ??      NaN  ...         0  1300      3    1015
1435   6950  76.0      1   Petrol  ...         0  1600      5    1114

[1436 rows x 11 columns]

In [10]:
import pandas as pd
p=pd.read_csv("/content/Toyota.csv - Toyota.csv.csv",index_col=0)
p.isnull()
p.isnull().sum()   #ture means null(1)  so 150 menas 150 null values ...

Price          0
Age          100
KM             0
FuelType     100
HP             0
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

In [12]:
import pandas as pd
p=pd.read_csv("/content/Toyota.csv - Toyota.csv.csv",index_col=0)
p.dropna(inplace=True)            #why inplace=true is it to mapulate orginal one?
p.isnull().sum()

Price        0
Age          0
KM           0
FuelType     0
HP           0
MetColor     0
Automatic    0
CC           0
Doors        0
Weight       0
dtype: int64